[Unit]
Description=Enable and create devices "ZRAM"

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/start-zram
ExecStop=/usr/local/bin/stop-zram

[Install]
WantedBy=multi-user.target
