[Unit]
Description=Enable and create devices "ZRAM"

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/start-zram.sh
ExecStop=/usr/local/bin/stop-zram.sh

[Install]
WantedBy=multi-user.target
